html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, em, img, q, strong, sub, sup, b, u, i, dl, dt, dd, ol,
ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption,
figure, footer, header, menu, nav, section, summary, time, mark, audio, video, address, select, textarea {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    vertical-align: baseline;
    font-size: 100%;
}
